node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.vscode/*

# macOS
.DS_Store

# Node
node_modules
npm-debug.log
yarn-error.log

# dotenv environment variables file
.env
env.js